<div class="container">
  <h3 style="text-align: center;">Thank you for your message!</h3>
  <div class="button-area">
  <%= link_to "Back to home", root_path, class: "btn contact-button" ,style:"text-decoration: none; color: white;" %>
  </div>
</div>
