.list-inline li {
  display: inline-block;
}

.social-icon {
  font-size: 50px;
  color: $secondary-color;
  margin: 8px 24px;
}

.social-icon:hover {
  color:$purple2;
}

.list-inline {
  list-style: none;
  padding: 0;
  justify-content: center;
  text-align: center;
  margin-top: 48px;
}

.form-whole{
  display: flex !important;
  flex-direction: column !important;
  margin-top: 36px;
}

.contact-button {
  color: white !important;
  background: $secondary-color!important;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin: 0 auto;
}

.center-area{
  margin: 0 auto !important;
  width: 75%;
}

.label-side{
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  gap: 8px;
}

.contact-box {
  width: 100%;
}

label{
  color: white;
}
