
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Planty</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body flex-container">
        <div>
          <p>Planty is a plant lovers haven where you can sell and buy plant cuttings. I worked in a small group for this project.</p>
        </div>
        <div>
          <p>Created using Ruby on rails, HTML, CSS, JavaScript</p>
        </div>
        <div>
          <a href="https://planty-le-wagon.herokuapp.com/" target="_blank" class="btn work-button">View site</a>
        </div>
        <%= image_tag "planty1.png", class:"modalimage"%>
        <%= image_tag "planty2.png", class:"modalimage"%>
        <%= image_tag "planty3.png", class:"modalimage"%>
      </div>
    </div>
  </div>
</div>
