
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lemon</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body flex-container">
        <div>
          <p>Lemon is a space to bring skaters together in London. I worked in a team of 4 to create this app.</p>
        </div>
        <div>
          <p>Created using Ruby on rails, HTML, CSS, JavaScript</p>
        </div>
        <div>
          <a href="http://www.lemonskate.me/" target="_blank" class="btn work-button">View site</a>
        </div>
        <%= image_tag "lemon1.png", class:"modalimage"%>
        <%= image_tag "lemon2.png", class:"modalimage"%>
        <%= image_tag "lemon3.png", class:"modalimage"%>
      </div>
    </div>
  </div>
</div>
