
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Santa's chrismas problem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body flex-container">
        <div style="text-align:center">
          <p>At the RAC Foundation, I was asked to create a Christmas card - but with a spin. Taking the cost per mile calculator as inspo, I thought it would be a fun idea to showcase how much it would be for Santa to travel down the UK with an electric car</p>
        </div>
        <div>
          <p>Created using R, Rshiny, HTML, CSS</p>
        </div>
        <div>
          <a href="https://dl13.shinyapps.io/xmasevcalc/" target="_blank" class="btn work-button">View site</a>
        </div>
        <%= image_tag "santa1.png", class:"modalimage"%>
        <%= image_tag "santa2.png", class:"modalimage"%>
        <%= image_tag "santa3.png", class:"modalimage"%>
      </div>
    </div>
  </div>
</div>
