
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cost per mile calculator</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>At the RAC Foundation, I was tasked to create a calculator that could work out the difference in cost to run a petrol/diesel car against an electric car for a given distance.</p>

        <a href="https://www.racfoundation.org/data/fuel-calculator" target="_blank" class="btn work-button">
        View site</a>
        <%= image_tag "calc1.png", class:"modalimage"%>
        <%= image_tag "calc3.png", class:"modalimage"%>
      </div>
    </div>
  </div>
</div>
